@import '@gravity-ui/uikit/styles/fonts.css'
@import '@gravity-ui/uikit/styles/styles.css'

*
  box-sizing: border-box
  padding: 0
  margin: 0

html
  max-width: 100vw
  overflow-x: hidden

body
  width: 100vw
  height: 100vh
  overflow-x: hidden
  color: rgb(var(--foreground-rgb))
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb))

a
  color: inherit
  text-decoration: none
