.pageContainer
    width: 100vw
    height: 100vh

    .titleText
        position: absolute
        top: 5%
        left: 5%
    .content
        width: 100%
        height: 100vh
        max-height: 100vh
        padding-top: 2.5%
        padding-left: 5%
        padding-right: 2.5%

        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 10%

        main
            padding-top: 10%
            width: 100%
            height: calc(100vh - 5%)
            max-height: 100vh
            container-type: size
        aside
            height: calc(100vh - 5%)
            max-height: 100vh

            display: flex
            flex-direction: column
            justify-content: flex-start


@media only screen and (max-width: 1000px)
    .pageContainer
        .title
            padding-top: 5%
            padding-left: 5%

        .titleText
            position: relative
            width: 100%
            top: unset
            left: unset

        .content
            flex-direction: column
            main
                padding-top: 10%
                width: 100%
                height: calc(100vh - 5%)
                max-height: 100vh
                container-type: unset

@media only screen and (max-width: 530px)
    .pageContainer
        height: auto

        .title
            padding-left: 0%
            padding-bottom: 10%
            width: 100%
            text-align: center

        .content
            flex-direction: column-reverse
            height: auto
            max-height: unset
            align-items: center

            aside
                height: auto

